extends ../_layout.pug

block head
  link(rel="stylesheet" href="/bower_components/medium-editor/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8")
  link(rel="stylesheet" href="/bower_components/medium-editor/dist/css/themes/default.css")
  link(rel="stylesheet" href="/bower_components/medium-editor-insert-plugin/dist/css/medium-editor-insert-plugin.min.css")
  link(rel='stylesheet' href='/css/article.css')

  style.
    .medium-editor-insert-plugin.medium-editor-placeholder:after {
      padding: 0;
    }

    .medium-insert-images figure figcaption, .mediumInsert figure figcaption, .medium-insert-embeds figure figcaption, .mediumInsert-embeds figure figcaption {
      color: #888;
    }

    .fa {
      line-height: 2
    }

block content

  .article
    //- div.article-cover.article-cover-change-btn#change-cover
    //-   if article.cover
    //-     img#cover-photo(src='/files/#{article.cover}')
    //-   else
    //-     img#cover-photo(src='')
    //- div.article-title.editable-title #{article.title}
    //- div.article-content.editable-content !{article.content}
    .article-cover.article-cover-change-btn#change-cover(style=`background-image:url(/files/${article.cover})`)
    .nav-mask
      .article-cover-blur(style=`background-image:url(/files/${article.cover})`)
      .nav-mask-bg

    .container
      h1.article-title.strong.editable-title #{article.title}
      .article-content.editable-content !{article.content}

  br
  br

  .container
    form#article-form(action='edit' method='post' enctype="multipart/form-data")
      input#title-field(type='hidden' name='title')
      input#content-field(type='hidden' name='content')

      .form-group
        label Cover Photo
        input#cover-photo-input(type='file' name='cover' onchange='handleImage(this, document.getElementById("cover-photo"), this.files)' accept='image/*')

      .form-group
        label Author
        input.form-control(type='text' name='author' placeholder='author' value=article.author)

      .form-group
        label Slug
        input.form-control(type='text' name='slug' placeholder='article-title (leave blank for automatic)' value=article.slug)
      
      .form-group
        .checkbox
          label.checkbox-inline
            if article.is_featured
              input(name='is_featured' type='checkbox' checked)
            else  
              input(name='is_featured' type='checkbox')
            | Featured
          label.checkbox-inline
            if article.is_published
              input(name='is_published' type='checkbox' checked) 
            else 
              input(name='is_published' type='checkbox')
            | Published
      .form-group
        label Thumbnail
        br
        img#thumbnail(width='200px' height='200px' src=`/files/${article.thumb}`)
        input(type='file' name='thumb' onchange='handleImage(this, document.getElementById("thumbnail"), this.files)' accept='image/*')

      .form-group
        label Post Date Override
        input.form-control#date-input(type='text' placeholder='May 16, 2016 at 13:12 (leave blank for automatic or previous)')
        if article.is_published
          input#date-field(type='hidden' name='date')
        else
          input#date-field(type='hidden' name='date' value='#{article.date}')

      button.btn.btn-primary(type='submit') Save
      

block footer
  script(src='/bower_components/medium-editor/dist/js/medium-editor.min.js')
  script(src="/bower_components/handlebars/handlebars.runtime.min.js")
  script(src="/bower_components/jquery-sortable/source/js/jquery-sortable-min.js")
  script(src="/bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js")
  script(src="/bower_components/blueimp-file-upload/js/jquery.iframe-transport.js")
  script(src="/bower_components/blueimp-file-upload/js/jquery.fileupload.js")
  script(src="/bower_components/medium-editor-insert-plugin/dist/js/medium-editor-insert-plugin.min.js")
  script(src='/bower_components/moment/min/moment.min.js')
  script.
    var titleEditor = new MediumEditor('.editable-title', {
      placeholder: {
        text: 'New Article',
        hideOnClick: false
      },
      toolbar: false,
      disableReturn: true,
      disableDoubleReturn: true
    })

    var contentEditor = new MediumEditor('.editable-content', {
      placeholder: {
        text: 'Article content...',
        hideOnClick: false
      }
    })

    $('.editable-content').mediumInsert({
      editor: contentEditor,
      addons: {
        images: {
          fileUploadOptions: {
            url: 'imageupload',
            acceptFileTypes: /(.|\/)(gif|jpe?g|png)$/i
          },
          deleteScript: 'imagedelete',
          deleteMethod: 'POST',
        }
      }
    })

    $('#change-cover').on('click', function(e) {
      e.preventDefault()
      $('#cover-photo-input').click()
    })

    var handleImage = function(el, img, files) {
      var file = files[0]
      if (!file) return
      var imageType = /^image\//
      if (!imageType.test(file.type)) {
        el.value = ''
        img.src =''
        alert('Please select an image file')
        return;
      }
      img.src = window.URL.createObjectURL(file)
    }

    $('#article-form').submit(function() {
      $('#title-field').val(titleEditor.serialize()['element-0'].value)
      $('#content-field').val(contentEditor.serialize()['element-0'].value)
      var date = moment($('#date-input').val(), 'MMM DD, YYYY [at] H:mm')
      if ($('#date-input').val() && date.isValid()) {
        $('#date-field').val(date)
      }
    })
