extends ./_split-layout.pug
include ./_mixins

block meta
  meta(property='og:url' content=`${root}`)
  meta(property='twitter:url' content=`${root}`)

  meta(property='og:title' content='Locust Walk')
  meta(property='twitter:title' content='Locust Walk')

  meta(property='description' content=truncate('Locust Walk is a student-led Christian publication that exists to present the perspectives of faith and non-faith worldviews on questions of truth and purpose. Through active dialogue within the University of Pennsylvania, we seek to build relationships modeled after the life and teachings of Jesus Christ who informs our understanding of cultural engagement, reconciliation, and community. We pledge to cultivate an environment where the pursuit of solidarity in diversity can lay a foundation for conversation conducted with love and mutual respect.', 160, true))
  meta(property='og:description' content='Locust Walk is a student-led Christian publication that exists to present the perspectives of faith and non-faith worldviews on questions of truth and purpose. Through active dialogue within the University of Pennsylvania, we seek to build relationships modeled after the life and teachings of Jesus Christ who informs our understanding of cultural engagement, reconciliation, and community. We pledge to cultivate an environment where the pursuit of solidarity in diversity can lay a foundation for conversation conducted with love and mutual respect.')
  meta(property='twitter:description' content=truncate('Locust Walk is a student-led Christian publication that exists to present the perspectives of faith and non-faith worldviews on questions of truth and purpose. Through active dialogue within the University of Pennsylvania, we seek to build relationships modeled after the life and teachings of Jesus Christ who informs our understanding of cultural engagement, reconciliation, and community. We pledge to cultivate an environment where the pursuit of solidarity in diversity can lay a foundation for conversation conducted with love and mutual respect.', 140, true))

  meta(property='og:site_name' content='Penn Christian Journal')

  meta(property='og:image' content=`${root}/img/social-share.png`) 
  meta(property='og:image:width' content='1280')
  meta(property='og:image:height' content='667')
  meta(property='twitter:image' content=`${root}/img/social-share.png`) 
  meta(property='twitter:image:width' content='1280')
  meta(property='twitter:image:height' content='667')  

mixin featured_article(feature, ismain)
  a(href=`/articles/${feature.slug}` data-article-id=feature.id)
    .bg-img(style='background-image: url(/files/' + feature.thumb + ')')
    .title-box
      .title-bg(style='background-image: url(/files/' + feature.thumb + ')')
      .title-bg-darken
      .title-content
        h2.title !{feature.title}
        p.author-date.h6
          span.author #{feature.author} &#8212;&nbsp;
          span.date #{moment(feature.date.toISOString()).format('MMM, DD YYYY')}
        if ismain
          p.preview !{truncate(feature.content.replace(/(<([^>]+)>)/ig,""), 140)}

block append head
  title Locust Walk - Penn Christian Journal
  link(href='/css/home.css' rel='stylesheet' type='text/css')
  link(href='/css/article-thumb.css' rel='stylesheet' type='text/css')

block top
  .row
    .col-md-12.col-sm-12
      .tile.tile-vertical.blue-theme.announcement
        p: a(href="https://issuu.com/locustwalk/docs/17_7284_u_of_penn_locust_walk_sprin/20") Check out our latest print edition here!

  .featured-view
    .featured-wrapper#feature-slide
      - var dup = new dup_date()

      each feature, index in features
        if index == 2
          .featured-block
            .feature-month-bar
              h2.strong.feature-month #{dup.handle("Religion & Pop Culture")}
            .featured-block-aspect: .content
              .bg-img(style='background-image: url("/img/religion-and-pop-culture.png"); height: 100%; width: 100%; background-size: contain; background-repeat: no-repeat; background-position: 50% 50%')
          
          .featured-block
            .feature-month-bar
              h2.strong.feature-month #{dup.handle("Our Vision")}
            .featured-block-aspect: .content
              .featured(style='width: 100%')
                .featured-block-aspect: .content
                  - var vp = {}
                  - vp.date = new Date("June 02, 2016")
                  - vp.content = "A familiar thought shared by students at Penn is how rarely we acknowledge one another on Locust Walk. “Hey, [insert name] (but don’t if you’re not too sure), how have you been?” as we rush our overworked selves to a more demanding, perhaps promising appointment. We all feel the need to head somewhere. We’re told that the culmination of our four years should prepare us to answer: Where is your destination and what is your plan? Neither of those questions demands us to consider the other faces on Locust Walk. Can we find community in a culture that glorifies the individual? Should we even bother searching for a model of community? If so, what would that community look like?"
                  - vp.slug = "our-vision"
                  - vp.author = "Esther Jou"
                  - vp.id = "574eff30bcc2571100ccadaa"
                  - vp.thumb = "57536269a264c81100940ffb"
                  - vp.title = "A Compass, a Bridge, and a Covenant"
                  +featured_article(vp, true)

        if true || feature.heading_override.indexOf("Series") == -1
          .featured-block
            .feature-month-bar
              - var featureHeading = dup.handle(moment(feature.date.toISOString()).format('MMM YYYY'))
              if (feature.heading_override && feature.heading_override.length > 0)
                h2.strong.feature-month #{feature.heading_override}
              else
                h2.strong.feature-month #{featureHeading}
            .featured-block-aspect: .content
              if !feature.responses || feature.responses.length < 2
                .featured(style='width:100%')
                  .featured-block-aspect: .content
                    +featured_article(feature, true)
              else
                .featured
                  .featured-aspect: .content
                    +featured_article(feature, true)

              if !feature.responses || feature.responses.length < 2

              else 
                .feature-response
                  .feature-response-aspect: .content
                    if feature.responses && feature.responses[0]
                      +featured_article(feature.responses[0], false)
                .feature-response
                  .feature-response-aspect: .content
                    if feature.responses && feature.responses[1]
                      +featured_article(feature.responses[1], false)
      - var first_count = dup.first_count()
    .feature-nav
      a#feature-left(href='#'): i.fa.fa-chevron-left
      a#feature-right(href='#'): i.fa.fa-chevron-right

  br
block main
  .tile.tile-vertical.white-theme
    h2.strong Recent Articles

    each recent, index in recents
      +article-thumb(recent)
block sidebar
  .row
    .col-md-12.col-sm-6
      .tile.tile-vertical.red-theme
        include _sisters

  .row
    .col-md-12.col-xs-6
      .tile.tile-vertical.blue-theme
        include _social

    .col-md-12.col-xs-6
      .tile.tile-vertical.gray-theme
        include _archive

block bottom
  //- div bottom

block append footer
  script.
    (function() {
      var featureIdx = 0;
      var maxFeatures = #{features.length + 2};
      var lBtn = document.getElementById('feature-left');
      var rBtn = document.getElementById('feature-right');
      var slide = document.getElementById('feature-slide');

      var autoscroll = true

      lBtn.onclick = function() {
        autoscroll = false
        if (featureIdx > 0) {
          featureIdx -= 1  
          slide.style.left = featureIdx * -100 + '%'
        }
      }

      rBtn.onclick = function() {
        autoscroll = false
        if (featureIdx < maxFeatures - 1) {
          featureIdx += 1
          slide.style.left = featureIdx * -100 + '%'
        }
      }

      if (true || #{first_count} > 1) {
        var interval = setInterval(function() {
          if (autoscroll) {
            featureIdx += 1
            if (featureIdx >= maxFeatures) featureIdx = 0
            slide.style.left = featureIdx * -100 + '%'
          } else {
            clearInterval(interval)
          }
        }, 5000);
      }

    })()
