extends ./_split-layout.pug
include ./_mixins

block meta
  meta(property='og:url' content=`${root}`)
  meta(property='twitter:url' content=`${root}`)

  meta(property='og:title' content='Locust Walk')
  meta(property='twitter:title' content='Locust Walk')

  meta(property='description' content=truncate('Locust Walk is a student-led Christian publication that exists to present the perspectives of faith and non-faith worldviews on questions of truth and purpose. Through active dialogue within the University of Pennsylvania, we seek to build relationships modeled after the life and teachings of Jesus Christ who informs our understanding of cultural engagement, reconciliation, and community. We pledge to cultivate an environment where the pursuit of solidarity in diversity can lay a foundation for conversation conducted with love and mutual respect.', 160, true))
  meta(property='og:description' content='Locust Walk is a student-led Christian publication that exists to present the perspectives of faith and non-faith worldviews on questions of truth and purpose. Through active dialogue within the University of Pennsylvania, we seek to build relationships modeled after the life and teachings of Jesus Christ who informs our understanding of cultural engagement, reconciliation, and community. We pledge to cultivate an environment where the pursuit of solidarity in diversity can lay a foundation for conversation conducted with love and mutual respect.')
  meta(property='twitter:description' content=truncate('Locust Walk is a student-led Christian publication that exists to present the perspectives of faith and non-faith worldviews on questions of truth and purpose. Through active dialogue within the University of Pennsylvania, we seek to build relationships modeled after the life and teachings of Jesus Christ who informs our understanding of cultural engagement, reconciliation, and community. We pledge to cultivate an environment where the pursuit of solidarity in diversity can lay a foundation for conversation conducted with love and mutual respect.', 140, true))

  meta(property='og:site_name' content='Penn Christian Journal')

  meta(property='og:image' content=`${root}/img/social-share.png`) 
  meta(property='og:image:width' content='1280')
  meta(property='og:image:height' content='667')
  meta(property='twitter:image' content=`${root}/img/social-share.png`) 
  meta(property='twitter:image:width' content='1280')
  meta(property='twitter:image:height' content='667')  

mixin featured_article(feature, ismain)
  a(href=`/articles/${feature.slug}`)
    .bg-img(style='background-image: url(/files/' + feature.thumb + ')')
    .title-box
      .title-bg(style='background-image: url(/files/' + feature.thumb + ')')
      .title-bg-darken
      .title-content
        h2.title #{feature.title}
        p.author-date.h6
          span.author #{feature.author} &#8212;&nbsp;
          span.date #{moment(feature.date.toISOString()).format('MMM, DD YYYY')}
        if ismain
          p.preview !{truncate(feature.content.replace(/(<([^>]+)>)/ig,""), 140)}

block append head
  title Locust Walk - Penn Christian Journal
  link(href='/css/home.css' rel='stylesheet' type='text/css')
  link(href='/css/article-thumb.css' rel='stylesheet' type='text/css')

block top
  .featured-view
    .featured-wrapper#feature-slide
      each feature, index in features
        .featured-block
          .feature-month-bar
            h2.strong.feature-month #{moment(feature.date.toISOString()).format('MMM YYYY')}
          .featured-block-aspect: .content
            if !feature.responses || feature.responses.length < 2
              .featured(style='width:100%')
                .featured-block-aspect: .content
                  +featured_article(feature, true)
            else
              .featured
                .featured-aspect: .content
                  +featured_article(feature, true)

            if !feature.responses || feature.responses.length < 2

            else 
              .feature-response
                .feature-response-aspect: .content
                  if feature.responses && feature.responses[0]
                    +featured_article(feature.responses[0], false)
              .feature-response
                .feature-response-aspect: .content
                  if feature.responses && feature.responses[1]
                    +featured_article(feature.responses[1], false)
    .feature-nav
      a#feature-left(href='#'): i.fa.fa-chevron-left
      a#feature-right(href='#'): i.fa.fa-chevron-right

  br
block main
  .tile.tile-vertical.white-theme
    h2.strong Recent Articles

    each recent, index in recents
      +article-thumb(recent)
block sidebar
  .row
    .col-md-12.col-sm-6
      .tile.tile-vertical.red-theme
        include _sisters

    .col-md-12.col-sm-6
      .tile.tile-vertical.gray-theme
        include _archive

block bottom
  //- div bottom

block append footer
  script.
    (function() {
      var featureIdx = 0;
      var maxFeatures = #{features.length};
      var lBtn = document.getElementById('feature-left');
      var rBtn = document.getElementById('feature-right');
      var slide = document.getElementById('feature-slide');

      lBtn.onclick = function() {
        if (featureIdx > 0) {
          featureIdx -= 1  
          slide.style.left = featureIdx * -100 + '%'
        }
      }

      rBtn.onclick = function() {
        if (featureIdx < maxFeatures - 1) {
          featureIdx += 1
          slide.style.left = featureIdx * -100 + '%'
        }
      }
    })()