extends ./_split-layout.pug

block meta
  meta(property='og:url' content=`${root}/staff`)
  meta(property='twitter:url' content=`${root}/staff`)

  meta(property='og:title' content='Staff - Locust Walk') 
  meta(property='twitter:title' content='Staff - Locust Walk') 
  
  meta(property='description' content=truncate('Locust Walk Staff', 160, true))
  meta(property='og:description' content='Locust Walk Staff')
  meta(property='twitter:description' content=truncate('Locust Walk Staff', 140, true))

  meta(property='og:site_name' content='Penn Christian Journal')
  
  meta(property='og:image' content=`${root}/img/social-share.png`) 
  meta(property='og:image:width' content='1280')
  meta(property='og:image:height' content='667')
  meta(property='twitter:image' content=`${root}/img/social-share.png`) 
  meta(property='twitter:image:width' content='1280')
  meta(property='twitter:image:height' content='667')  

block main
  .row
    .col-md-12
      .tile.tile-vertical.white-theme
        h2.strong Staff
        table
          tr
            th Name
            th Position
            th Contact Information
          tr
            td Esther Jou
            td Editor-in-Chief
            td jouest@sas.upenn.edu
          tr
            td Wendy Zhou 
            td Communications Chair 
            td hongyuz@sas.upenn.edu
          tr
            td Michael Ruan 
            td Business Manager
            td mruan@wharton.upenn.edu
          tr
            td Sarah Tang 
            td Design Editor
            td sartang@sas.upenn.edu
          tr
            td Austin Eng 
            td Webmaster
            td aen@seas.upenn.edu

          tr: td
          tr: td
          tr: th Writers
          tr
            td Joanna Xue 
            td
            td Joxue@sas.upenn.edu
          tr
            td Emma Hetrick
            td
            td ehetrick@sas.upenn.edu
          tr
            td Grace Cho 
            td
            td chograce@nursing.upenn.edu
          tr
            td Sean Noh 
            td
            td sean.d.noh@gmail.com
          tr
            td Joyce Xu 
            td
            td joycexu@sas.upenn.edu
          tr
            td Wesley Chow 
            td
            td chowyinh@sas.upenn.edu
          tr
            td Phoebe Low 
            td
            td phoebe.low13@gmail.com
          tr
            td Andrew Wang 
            td
            td andrwang@sas.upenn.edu
          tr
            td Summer Osborn 
            td
            td osborns@sas.upenn.edu
          tr
            td Henrique Laurino 
            td
            td hlauri@wharton.upenn.edu
          tr
            td James Supplee
            td
            td suppleej@sas.upenn.edu
          tr
            td Mark Hoover
            td
            td hooverm@sas.upenn.edu
          tr
            td Isaac Han 
            td
            td 

          tr: td
          tr: td

          tr: th Editors

          tr
            td Connie Miller 
            td
            td comiller@sas.upenn.edu
          tr
            td Emily Schutsky 
            td
            td eschutsk@gmail.com
          tr
            td Sebastian De Armas 
            td
            td johnsde@sas.upenn.edu
          tr
            td Hannah Victor
            td
            td vhannah@law.upenn.edu
          tr
            td Patricia Jia 
            td
            td patjia@sas.upenn.edu

          tr: td
          tr: td

          tr: th Design

          tr
            td Vivian Dai 
            td
            td vdai@sas.upenn.edu
          tr
            td Andrew Min 
            td
            td andrewkm@sas.upenn.edu
          tr
            td Wesley Chow 
            td
            td chowyinh@sas.upenn.edu
          tr
            td Phoebe Low 
            td
            td phlo@sas.upenn.edu
          tr
            td Sophia Chao
            td
            td csophia@nursing.upenn.edu

          tr: td
          tr: td
          tr: th Web
          tr
            td Will Yeung
            td
            td tsuny@sas.upenn.edu
            

    .col-md-12
      .tile.tile-vertical.gray-theme
        include _donate

block sidebar
  .row
    .col-md-12.col-sm-6
      .tile.tile-vertical.red-theme
        include _sisters

  .row
    .col-md-12.col-xs-6
      .tile.tile-vertical.blue-theme
        include _social

    .col-md-12.col-xs-6
      .tile.tile-vertical.gray-theme
        include _archive
  
