extends ./_split-layout.pug

block meta
  meta(property='og:url' content=`${root}/staff`)
  meta(property='twitter:url' content=`${root}/staff`)

  meta(property='og:title' content='Staff - Locust Walk')
  meta(property='twitter:title' content='Staff - Locust Walk')

  meta(property='description' content=truncate('Locust Walk Staff', 160, true))
  meta(property='og:description' content='Locust Walk Staff')
  meta(property='twitter:description' content=truncate('Locust Walk Staff', 140, true))

  meta(property='og:site_name' content='Penn Christian Journal')

  meta(property='og:image' content=`${root}/img/social-share.png`)
  meta(property='og:image:width' content='1280')
  meta(property='og:image:height' content='667')
  meta(property='twitter:image' content=`${root}/img/social-share.png`)
  meta(property='twitter:image:width' content='1280')
  meta(property='twitter:image:height' content='667')

block main
  .row
    .col-md-12
      .tile.tile-vertical.white-theme
        h2.strong Staff
        table
          tr: th Editor-in-Chief
          tr: td Sharon Christner

          tr: td
          tr: th Editorial Board
          tr: td Esther Jou
          tr: td Shaanan Cohney
          tr: td Patricia Jia
          tr: td Eva Spier
          tr: td Vivian Li

          tr: td
          tr: th Executive Board
          tr: td: i Web
          tr: td Will Yeung
          tr: td Austin Eng

          tr: td
          tr: td: i Design
          tr: td Aliya Chen
          tr: td Felicia Chen

          tr: td
          tr: td: i Communications
          tr: td Karissa Lam

          tr: td
          tr: td: i Business
          tr: td Eric Wang

    .col-md-12
      .tile.tile-vertical.gray-theme
        include _donate

block sidebar
  .row
    .col-md-12.col-sm-6
      .tile.tile-vertical.red-theme
        include _sisters

  .row
    .col-md-12.col-xs-6
      .tile.tile-vertical.blue-theme
        include _social

    .col-md-12.col-xs-6
      .tile.tile-vertical.gray-theme
        include _archive
