extends ./_split-layout.pug

block meta
  meta(property='og:url' content=`${root}/submissions`)
  meta(property='twitter:url' content=`${root}/submissions`)

  meta(property='og:title' content='Contribute - Locust Walk')
  meta(property='twitter:title' content='Contribute - Locust Walk')

  meta(property='description' content=truncate('We\'re so glad you would like to write for Locust Walk! We are currently accepting submissions for both online & print editions. As a magazine, we are flexible in the topics and writing styles of submissions, but there are some guidelines that all of the pieces we publish should follow. We look forward to hearing from you!', 160, true))
  meta(property='og:description' content='We\'re so glad you would like to write for Locust Walk! We are currently accepting submissions for both online & print editions. As a magazine, we are flexible in the topics and writing styles of submissions, but there are some guidelines that all of the pieces we publish should follow. We look forward to hearing from you!')
  meta(property='twitter:description' content=truncate('We\'re so glad you would like to write for Locust Walk! We are currently accepting submissions for both online & print editions. As a magazine, we are flexible in the topics and writing styles of submissions, but there are some guidelines that all of the pieces we publish should follow. We look forward to hearing from you!', 140, true))

  meta(property='og:site_name' content='Penn Christian Journal')

  meta(property='og:image' content=`${root}/img/social-share.png`)
  meta(property='og:image:width' content='1280')
  meta(property='og:image:height' content='667')
  meta(property='twitter:image' content=`${root}/img/social-share.png`)
  meta(property='twitter:image:width' content='1280')
  meta(property='twitter:image:height' content='667')

block main
  .tile.tile-vertical.white-theme
    h2.strong Article Submissions
    p We're so glad you would like to write for Locust Walk! We are currently accepting submissions for both online & print editions. As a magazine, we are flexible in the topics and writing styles of submissions, but there are some guidelines that all of the pieces we publish should follow. We look forward to hearing from you!

    ul.list
      li Submissions may be academic papers, interviews, testimonies, short fiction, poetry, artwork— and if you'd like to submit another genre, just email us with your idea.
      li Send to <a href="mailto:thelocustwalkjournal@gmail.com">thelocustwalkjournal@gmail.com</a> as a Word attachment, with written work single-spaced.
      li Along with your content, please include an article summary/blurb of which will potentially be used as the article's tagline in the printed issue.
      li Include a one-sentence bio of yourself that includes information like year, major, hometown, etc.
      li If you include images, they should be attached separately at the highest resolution possible (not embedded in the Word document).

    p
      span.strong Audience:&nbsp;
      span Our goal is to appeal to a broad audience of all students on campus of all faiths and worldviews. Articles should be clear and simple enough that readers of all backgrounds can understand them.

    p
      span.strong Content:&nbsp;
      span Raise questions and search for answers about life's big questions! In the past we've featured articles that examine current events, reflection on the culture of Penn or of writers' home communities, personal anecdotes about faith and belief, attempts to reconcile science and religion, and much more. We welcome new ideas! Most articles are around 1000-2000 words, though this is not strict. If you are unsure about where to start, let us know at <a href="mailto:thelocustwalkjournal@gmail.com">thelocustwalkjournal@gmail.com</a>, and we will pair you with an editor.

    h2.strong Artwork and Photography Submissions
    p Please attach your photos or artwork as a .jpg file and email them to us at <a href="mailto:thelocustwalkjournal@gmail.com">thelocustwalkjournal@gmail.com</a>. Include your first and last name, class year, school, and course of study.

    h2.strong Formatting
    ul.list
      li Title your piece! You might revise this later with your editor.
      li We use the American standard for punctuation. Commas should be placed inside quotations (i.e. "The Lord is good," she declared.)
      li Scriptural citations should contain the translation/version and be included as an endnote.
      li Don't abbreviate the names of books of the Bible, Quran, etc.
      li If you are submitting an academic paper that you wrote for class:
        ul.list
          li Label it as an academic paper in your submission email
          li Citations should follow <a href="http://www.chicagomanualofstyle.org/tools_citationguide.html">Chicago Style</a>
          li Please include instructor grade and comments so that your editor can help you revise effectively!
      li If you include images, they should be attached separately at the highest resolution possible (not embedded in the Word document).

    h2.strong The Editing Process
    p You'll be assigned to an editor for your article based on your topic and content, and will go through at least one round of edits before your piece is published.

block sidebar
  .row
    .col-md-12
      .tile.tile-vertical.gray-theme
        include _donate

    .col-md-12.col-sm-6
      .tile.tile-vertical.red-theme
        include _sisters

    .col-md-12.col-sm-6
      .tile.tile-vertical.gray-theme
        include _archive
