extends ./_split-layout.pug

block meta
  meta(property='og:url' content=`${root}/submissions`)
  meta(property='twitter:url' content=`${root}/submissions`)

  meta(property='og:title' content='Contribute - Locust Walk') 
  meta(property='twitter:title' content='Contribute - Locust Walk') 
  
  meta(property='description' content=truncate('Locust Walk is accepting article, artwork and photography submissions for our online blog and our first print edition to be released Spring 2017.', 160, true))
  meta(property='og:description' content='Locust Walk is accepting article, artwork and photography submissions for our online blog and our first print edition to be released Spring 2017.')
  meta(property='twitter:description' content=truncate('Locust Walk is accepting article, artwork and photography submissions for our online blog and our first print edition to be released Spring 2017.', 140, true))

  meta(property='og:site_name' content='Penn Christian Journal')
  
  meta(property='og:image' content=`${root}/img/social-share.png`) 
  meta(property='og:image:width' content='1280')
  meta(property='og:image:height' content='667')
  meta(property='twitter:image' content=`${root}/img/social-share.png`) 
  meta(property='twitter:image:width' content='1280')
  meta(property='twitter:image:height' content='667')  

block main
  .tile.tile-vertical.white-theme
    h2.strong Article Submissions
    p We are accepting article, artwork and photography submissions for our online and our first print edition to be released Spring 2017.

    p For our online edition, <i>Locust Walk</i> follows a structured response model which allows us to capture the dialogue within our Penn community. Feature articles are published the <strong>first Sunday</strong> of each month and weekly blog-style articles responding to the feature content are published <strong>each following Sunday</strong>. A separate print publication will be released bi-annually at the beginning of each semester. 

    p Please use the following guides to direct your writing:
    ul.list
      li: a(href='/writers-guide-feature') Feature Article Submissions
      li: a(href='/writers-guide-response') Response Article Submissions

    h2.strong Artwork and Photography Submissions
    p Please attach your photos or artwork as a .jpg file and email them to us at <a href='mailto:pennchristianjournal@gmail.com'> pennchristianjournal@gmail.com</a>. Include your first and last name, class year, school, and course of study.


block sidebar
  .row
    .col-md-12
      .tile.tile-vertical.gray-theme
        include _donate
   
    .col-md-12.col-sm-6
      .tile.tile-vertical.red-theme
        include _sisters

    .col-md-12.col-sm-6
      .tile.tile-vertical.gray-theme
        include _archive
  
