extends _layout.pug

block meta
  meta(property='og:url' content=`${root}/writers-guide-response`)
  meta(property='twitter:url' content=`${root}/writers-guide-response`)

  meta(property='og:title' content='Response Writers Guide - Locust Walk')
  meta(property='twitter:title' content='Response Writers Guide - Locust Walk') 
  
  meta(property='description' content=truncate('Thank you for your interest in writing for Locust Walk! As a magazine, we are flexible in the topics and writing styles of submissions, however, there are standards that we uphold. Please use the following guidelines to direct your writing. We look forward to hearing from you!', 160, true))
  meta(property='og:description' content='Thank you for your interest in writing for Locust Walk! As a magazine, we are flexible in the topics and writing styles of submissions, however, there are standards that we uphold. Please use the following guidelines to direct your writing. We look forward to hearing from you!')
  meta(property='og:description' content=truncate('Thank you for your interest in writing for Locust Walk! As a magazine, we are flexible in the topics and writing styles of submissions, however, there are standards that we uphold. Please use the following guidelines to direct your writing. We look forward to hearing from you!', 140, true))
  
  meta(property='og:site_name' content='Penn Christian Journal')
  
  meta(property='og:image' content=`${root}/img/social-share.png`) 
  meta(property='og:image:width' content='1280')
  meta(property='og:image:height' content='667')
  meta(property='twitter:image' content=`${root}/img/social-share.png`) 
  meta(property='twitter:image:width' content='1280')
  meta(property='twitter:image:height' content='667')  

block content

  .tile.tile-vertical.white-theme
    h2.strong A Writer's Guide - Response
    .anchor#response

    p Thank you for your interest in writing for Locust Walk! As a magazine, we are flexible in the topics and writing styles of submissions, however, there are standards that we uphold. Please use the following guidelines to direct your writing. We look forward to hearing from you!

    ul.list
      li May be academic papers, interviews, testimonies, short fiction, poetry, artwork 
      li Send to <a href='mailto:pennchristianjournal@gmail.com'>pennchristianjournal@gmail.com</a> as a Word attachment (“.doc” please, not “.docx”), single-spaced if written work 
      li Include an article summary/blurb of your own fashioning, which will potentially be used as the article’s tagline on our social media and in the printed issue 
      li Include a short biography of yourself that includes such information as year, major, hometown - one sentence is sufficient 
      li Any images should be attached separately at the highest resolution possible (do not embed them in the Word document) 

    p <strong>Audience:</strong> We seek to appeal to a broad audience of all students on campus of all faiths and backgrounds. Please keep this in mind in your writing as we are not just writing to other Christians. Articles should be clear and simple enough that non-Christians and Christians alike can understand them.

    p <strong>Content:</strong>Response pieces should aim to build on the ideas and themes addressed in the monthly feature piece. Responses may be shorter blog-style pieces (800-1000 words) but are not limited to written content. Artwork, photography, and other creative forms will be carefully considered so long as they are thoughtful, culturally relevant posts that raise questions and search for answers about the great questions of life and seek to foster discussion among Christian and non-Christian worldviews. Suggested topics include but are not limited to: responses to current events, reflections on Penn culture, personal anecdotes, attempts to reconcile science and religion, etc. If you are unsure about where to start, let us know at <a href='pennchristianjournal@gmail.com'>pennchristianjournal@gmail.com</a>, and we will pair you with an editor.


    ul.list
      li Send us your piece at <a href='pennchristianjournal@gmail.com'>pennchristianjournal@gmail.com</a>.
      li Include a short biography of yourself that includes such information as year, major, hometown – one sentence is sufficient.

    h3 Formatting:
    ul.list
      li TITLE YOUR PIECE, though the editors might revise it.
      li We use the American standard for punctuation. Commas should be placed inside quotations (i.e. “The Lord is good,” she declared.)
      li Scriptural citations should contain the translation/version and be included as an endnote.
      li No abbreviations for the books of the Bible.
      li Please remove all contractions (e.g. “can’t,” “isn’t,” “won’t”).
      li If you are submitting a testimony: Try to be as concrete and detailed as possible. It is easy to be vague when describing your encounter with God (i.e. “And then, suddenly, He met me.”)
      li Use relevant Bible verses!
      li Any images should be attached separately (i.e., do not embed them in the Word document) at the highest resolution possible and preferably as a tiff or JPG.

    h3 Expectations for Editing:
    p Each writer will be assigned to an editor for his or her article based on the content of that article. Please expect to go through at least one round of edits before your piece is published.