extends ../_layout.pug
include ../_mixins

block meta
  meta(property='og:url' content=`${root}/articles/${article._id}`)
  meta(property='twitter:url' content=`${root}/articles/${article._id}`)

  meta(property='og:title' content=article.title) 
  meta(property='twitter:title' content=article.title) 
  
  meta(property='description' content=truncate(article.content.replace(/(<([^>]+)>)/ig,""), 160, true))
  meta(property='og:description' content=truncate(article.content.replace(/(<([^>]+)>)/ig,""), 300, true))
  meta(property='twitter:description' content=truncate(article.content.replace(/(<([^>]+)>)/ig,""), 140, true))

  meta(property='og:site_name' content='Penn Christian Journal')
  
  meta(property='og:image' content=`${root}/files/${article.thumb}`)
  meta(property='twitter:image' content=`${root}/files/${article.thumb}`)  

block head
  link(rel="stylesheet" href="/bower_components/medium-editor/dist/css/themes/default.css")
  link(rel="stylesheet" href="/bower_components/medium-editor-insert-plugin/dist/css/medium-editor-insert-plugin.min.css")

  link(rel='stylesheet' href='/css/article.css')
  link(href='/css/article-thumb.css' rel='stylesheet' type='text/css')
  title !{article.title} - Locust Walk

block content

  .article(data-article-id=article.id)
    if article.cover
      .article-cover(style=`background-image:url(/files/${article.cover})`)
      .nav-mask
        .article-cover-blur(style=`background-image:url(/files/${article.cover})`)
        .nav-mask-bg
    else
      style.
        nav.navbar {
          background-color: #222;
        }

      div(style='margin-top: 80px')

    .container

      if parent
        .response-to(data-article-id=parent.id)
          h2 In Response To:&nbsp;
            a.response-title(href=`/articles/${parent.slug}`) !{parent.title}

      h1.article-title.strong !{article.title}
      h4.article-author-date.thin #{article.author} &#8212; #{moment(article.date).format('MMM DD, YYYY')}

      .article-content !{article.content}

      if responses && responses.length > 0
        h1.strong Discussion
        .discussion.tile.tile-vertical.gray-theme
          each response, index in responses          
            +article-thumb(response)

