extends ../_layout.pug
include ../_mixins

block head
  link(rel="stylesheet" href="/bower_components/medium-editor/dist/css/themes/default.css")
  link(rel="stylesheet" href="/bower_components/medium-editor-insert-plugin/dist/css/medium-editor-insert-plugin.min.css")

  link(rel='stylesheet' href='/css/article.css')
  link(href='/css/article-thumb.css' rel='stylesheet' type='text/css')
  title #{article.title}

block content

  .article
    if article.cover
      .article-cover(style=`background-image:url(/files/${article.cover})`)
      .nav-mask
        .article-cover-blur(style=`background-image:url(/files/${article.cover})`)
        .nav-mask-bg
    else
      style.
        nav.navbar {
          background-color: #222;
        }

      div(style='margin-top: 80px')
      //- img(src='/files/#{article.cover}')

      //- .title-box.dark-theme
      //-   img(src='/files/#{article.cover}')
      //-   .title-bg        
      //-     h1.article-title.strong #{article.title}

    .container.container-wide

      .response-to
        h2 In Response To:&nbsp;
          a(href=`/articles/${article.slug}`) #{article.title}

      h1.article-title.strong #{article.title}
      h4.article-author-date.thin #{article.author} &#8212; #{moment(article.date).format('MMM DD, YYYY')}

      .article-content !{article.content}
      
      h1.strong Discussion
      .discussion.tile.tile-vertical.gray-theme
        

        +article-thumb(article)
        +article-thumb(article)

      //- .row

      //-   .col-lg-4
      //-     .tile.tile-vertical.blue-theme
      //-       h2.strong In Response To:

      //-   .col-lg-8
          

          

        //- .col-lg-4
          .tile.tile-vertical.red-theme
            h2.strong Responses
