extends ../_layout.pug

block head
  link(rel='stylesheet' href='/css/article.css')
  title #{article.title}

block content
  
  .article
    if article.cover
      .article-cover(style=`background-image:url(/files/${article.cover})`)
      .nav-mask
        .article-cover-blur(style=`background-image:url(/files/${article.cover})`)
        .nav-mask-bg
    else
      style.
        nav.navbar {
          background-color: #222;
        }

      div(style='margin-top: 80px')
      //- img(src='/files/#{article.cover}')

      //- .title-box.dark-theme
      //-   img(src='/files/#{article.cover}')
      //-   .title-bg        
      //-     h1.article-title.strong #{article.title}
    
    .container
      h1.article-title.strong #{article.title}

      .article-content !{article.content}
